*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
}

.main-head nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    color: #404040;
    font-size: 2rem;
}
.collapse{
    display: flex;
}
.collapse h4{
    padding: 0.75rem;
}
/* Hero */
.hero{
    padding: 4rem;
    font-size: 7rem;
}
.hero-main{
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    
}
.colored{
    color: #E7305C;
}
.scroll{
    text-align: center;
    font-size: 2rem;
    min-height: 20vh;
}
.scroll-down{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mouse{
    width: 3rem;
    height: 6rem;
    border: 2px solid #E7305C;
    border-radius: 2rem;
    margin-bottom: .5rem;
    display: flex;
}
.mouse span{
    width: 1rem;
    height: 1rem;
    background-color: #E7305C;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}
.arrow span{
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid transparent;
    border-right-color: #E7305C;
    border-bottom-color: #E7305C;
    transform: rotate(45deg);
    animation: arrow-move-wheel .5s alternate infinite;
}

/* about */
.about{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7305C;
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    padding: 20rem;
}

/* Key Frames */
@keyframes move-wheel{
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}
@keyframes arrow-move-wheel{
    0%{
        opacity: 0;
        
    }
    25%{
        opacity: .25;
        
    }
    50%{
        opacity: .5;
        
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}
/* media  */
@media(max-width:1260px){
    html{
        font-size: 50%;
    }
}
@media(max-width:1000px){
    html{
        font-size: 40%;
    }
    .about{
        padding: 10rem;
    }
}
@media(max-width:400px){
    html{
        font-size: 30%;
    }
    .about{
        padding: 5rem;
    }
}